{% extends "layout.html" %}

{% block body %}
    <h2>Contact</h2><hr>
    
   
<div class="topic-content">
                    <p><b>HAKKIMIZDA&nbsp;</b>&nbsp;</p>
<p>Biz Colin's olarak, "Sadece hazır giyim işinde değil; &uuml;r&uuml;n ve hizmetlerimizle insanları daha iyi hissettirme işindeyiz." diyoruz. Bu nedenle, d&uuml;nyanın her yerindeki mağazalarımızda, YENİLİK, FİT ve KALİTE' yi beraber sunuyoruz. YENİLİK anlayışımız, &ccedil;arpıcı vitrinler, değişik hisler duyabileceğiniz koleksiyonlar ve &ccedil;eşitlilik yaratmaktır. FİT anlayışımız, &uuml;r&uuml;nlerimizin v&uuml;cudunuza oturması, rahat hissetmeniz ve tarzınızı &ouml;zg&uuml;rce yansıtabilmenizdir. KALİTE anlayışımız ise, rengi, kumaşı, dikişi, dayanıklılığı ve duruşuyla her zaman s&uuml;rd&uuml;r&uuml;lebilir nitelikler sunmaktır.</p>
<p>&nbsp;</p>
<p>COLIN'S d&uuml;nyanın 38 &uuml;lkesindeki 600' e aşkın mağazasında, her g&uuml;n daha yeni, daha modern, daha ilgin&ccedil; ve daha &ouml;zel şeylerin olduğu bir d&uuml;nyanın hızına yetişiyor ve m&uuml;şterileriyle bu b&uuml;y&uuml;k değişimin ruhunu paylaşıyor.</p>
<p><b>MİSYON</b></p>
<p>Jean odaklı moda &uuml;r&uuml;nleriyle gen&ccedil;lerin hayattan daha fazla keyif almalarını sağlamak.</p>
<p><b>VİZYON</b></p>
<p>Stratejik pazarlarımızda gen&ccedil;liğin hızına yetişen marka deneyimiyle, en &ccedil;ok tercih edilen Jean odaklı moda markalarından biri olmak.</p>
<p><b>DEĞERLERİMİZ</b></p>
<p>S&uuml;rekli Gelişim ve Yenilik&ccedil;i Odaklı Olmak</p>
<p>Kalite Odaklı Olmak</p>
<p>G&uuml;venilir ve İstikrarlı Olmak</p>
<p>&Ouml;zg&uuml;rl&uuml;k&ccedil;&uuml;</p>
<p>Geleneklere Saygılı Olmak</p>
<p>&nbsp;</p>
                </div>
    <br><br>
    <h6> e-mail: berkay.cihan@colins.com.tr </h6>
    <hr>
{% endblock  %}